

#header {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: wheat;
}

#nav-bar {
    width: 50%;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
#nav-bar a {
    color: black;
    text-decoration: none;
    justify-self: center;
}

#nav-bar a:hover {
    width: auto;
    background-color: silver;
}

#header-img {
    width: 200px;
    height: 60px;
    border: 2px solid wheat;
} 

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    
}

#email {
    width: 250px;
    height: 30px;
    border-style: groove;
    border: 2px solid wheat;
}

#submit {
    width: 150px;
    height: 30px;
    border-style: groove;
    border: 2px solid wheat;
    background-color: wheat;
}

input[value="GET STARTED"]{
    font-weight: 900;
}

input[placeholder="Enter your email address"]{
    text-align: center;
}

#how-it-works {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#video {
    width: 100%;
    height: auto;
    align-self: center;
}

#features {
    text-align: center;
    width: 50%;
}

#pricing {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 50%;
}

.quality {
    text-align: center;
    border: 2px solid wheat;
}

.quality header {
    background-color: wheat;
    height: auto;
    font-weight: bolder;
}

.quality input {
    width: 100px;
    height: 30px;
    background-color: wheat;
    border: wheat;
    font-weight: bolder;
    margin-bottom: 10px;
}

#footer {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: wheat;
}

#foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 40px;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.main-part {
    background-color: white;
    width: 50%;
    margin: auto;
}

@media screen and (max-width: 800px){
    #header {
        position: sticky;
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        background-color: wheat;
    }
    
    #nav-bar {
        width: 100%;
        align-self: center;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #nav-bar a {
        margin-top: 10px;
    }
    
    #header-img {
        display: none;
    } 

    #how-it-works {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #video {
        width: 80%;
        height: auto;
        align-self: center;
    }

    #features {
    text-align: center;
    width: 80%;
    margin: auto;   
    }

    #pricing {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: auto;
        grid-gap: 10px;
        width: 50%;
        margin: auto;
    }

    #footer {
        width: 100%;
    }

    #title  {
        font-size: 20px;
        width: 100%;
    }

}